html{
    min-height: 100%;
    border-left: 200px solid #19314A;
    border-right:200px solid #19314A;
    border-bottom: 50px solid #19314A;
}

body {
    background-image: url("http://i67.tinypic.com/z1shu.png");
    background-size: 50% 10% contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100%;
    line-height: 1.7;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

a {
    color: #4183c4;
    text-decoration: none;
    display: block;
    padding-left: 10px;
}

a:hover {
    text-decoration: underline;
}

code {
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
}

#content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    margin: 0px;
    padding: 30px;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #19314A;
}

div {
    width: 100%;
    border-bottom: 2px solid #19314A;
    border-bottom-width: 100%;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin: 0 0 15px;
    padding-left: 10px;
}

h1 {
    width: 100%;
    margin-top: 190px;
    border-bottom: 5px solid #19314A;
    font-size: 2.5em;
    font-family: "Verdana", Geneva, sans-serif;
}

h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
    
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

img {
    position: absolute;
    bottom: 0px;
    left: 850px;

}

button, input{
    padding-left: 10px;
}

p, ul {
    margin: 15px 0;
    padding-left: 10px;
}

ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #19314A;
    position: absolute;
    top: 150px;
    height: 50px;
    width: 100%;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #0d162b;
}